<!DOCTYPE HTML>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">


		
        <div class="page-header">
        	<h1 style="text-align:center">My name is Adam Frankenfeld.</h1>
		</div>		
		
		
		<div>
			<p style="text-align:center"><img src="https://scontent.xx.fbcdn.net/v/t1.0-9/423893_4241258281430_776158507_n.jpg?oh=6ff3e1d543afaebbd71cf9743d0e37d2&oe=58340F83" width="520" height="520"></p>
		</div>
		
		<div class="container-fluid">
			 <div class="row">
                <div class="col-md-6 col-md-offset-3">
					<p style="text-align:center">Let me start by thanking you for visiting my website which is focused on my pursuit for professional development. Since I was a kid, getting a job designing, publishing, or marketing a product that people can enjoy has been my dream. In college I also found a new passion for communication studies, specifically rhetoric. The core elements of creating, pitching, and gaining an audience for a product can be tied into this concept of rhetoric, and that excites me greatly. 
						I'm a self-starter. I have been all my life. Whether it was designing and writing a video game magazine in grade school, creating and managing a Kickstarter while being a full time college undergrad, or directing and marketing a one-act play; I embraced new opportunities and challenges.I carry this mentality into my professional life.  I refuse to believe any task is truly impossible, and I utilize my resources and diverse experience to overcome unyielding obstacles. I thrive on learning, and using outside the box problem solving to avoid further future issues. 
						Currently, I am a video editor and production assistant at Life Focus Communication, a small company where I engage new ways to save time, cut costs, and enhance production every day. My specialties/skills include digital media management, professional communication, brand awareness, and a can-do attitude.
					</p>
				</div>
			</div>		
		</div>
			
	
</html>