<!DOCTYPE HTML>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">


		
        <div class="page-header">
        	<h1 style="text-align:center">My name is Adam Frankenfeld.</h1>
		</div>		
		
		
		<div>
			<p style="text-align:center"><img src="https://scontent.xx.fbcdn.net/v/t1.0-9/423893_4241258281430_776158507_n.jpg?oh=6ff3e1d543afaebbd71cf9743d0e37d2&oe=58340F83" width="520" height="520"></p>
		</div>
		
		<div class="container-fluid">
			 <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
					<p style="text-align:center">Let me start by thanking you for visiting my website which is focused on my pursuit for professional development.  Since I was a kid, getting a job designing, publishing, or marketing a product that people can enjoy has been my dream.  This section is just a tiny bit about me as a person.  In college I also found a new passion for communication studies, specifically rhetoric.  The core elements of creating, pitching, and gaining an audience for a product can be tied into this concept of rhetoric, and that excites me greatly.  I hope to someday combine these elements and craft a product that countless people could enjoy.  Thanks for reading, and I hope to see you soon.</p>
				</div>
			</div>		
		</div>
			
	
</html>