<!DOCTYPE HTML>

 <html>
	<head>
		<title>Adam Frankenfeld</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/custom.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	</head> 


	<body>
		
        <div class="page-header">
        	<h1 style="text-align:center">The Couch Co-Op Show <br/>
        		<small style="text-align:center">Director, Producer, Editor, and Host</small>
        	</h1>
		</div>		
		
		
		<div class="video-container">
			<iframe width="500" height="300" src="https://www.youtube.com/embed/Yv6JH09JGa0" frameborder="0" allowfullscreen></iframe>
		</div>
		
		<div class="container-fluid">
			<div class="row">
					<p>The Couch Co-op show was a proof of concept for a YouTube series that focused on showing the strength of 4 player co-op games. This concept was created to be streamed live or be archived on YouTube for later viewing. The show included four individually mic'd players being shot on two different cameras. </p>
			</div>		
		</div>
	</body>	
			
	
</html>