<!DOCTYPE HTML>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">


		
        <div class="page-header">
        	<h1 style="text-align:center">The Couch Co-Op Show <br/>
        		<small style="text-align:center">Director, Producer, Editor, and Host</small>
        	</h1>
		</div>		
		
		
		<div>
			<p style="text-align:center"><iframe width="500" height="300" src="https://www.youtube.com/embed/Yv6JH09JGa0" frameborder="0" allowfullscreen></iframe></iframe></p>
		</div>
		
		<div class="container-fluid">
			 <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
					<p style="text-align:justify">The Couch Co-op show was a proof of concept for a YouTube series that focused on showing the strength of 4 player co-op games. This concept was created to be streamed live or be archived on YouTube for later viewing. The show included four individually mic'd players being shot on two different cameras. </p>
				</div>
			</div>		
		</div>
			
	
</html>