<!DOCTYPE HTML>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">


		
        <div class="page-header">
        	<h1 style="text-align:center">Beneath the Skin <br/>
        		<small style="text-align:center">Production Assistant/Audio Editor</small>
        	</h1>
		</div>			
		
		
		<div>
			<p style="text-align:center"><iframe width="500" height="300" src="https://www.youtube.com/embed/-ospYRnRdpA" frameborder="0" allowfullscreen></iframe></p>
		</div>
		
		<div class="container-fluid">
			 <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
					<p style="text-align:center"><i>Beneath the Skin</i> is an ABC syndicated documentary focused on racial trauma passed down through generations, and the healing that individuals found in faith. My responsibilities included finding bites from interviews that would enhance our production, as well as editing the documentary as a whole. The latter included adding B-roll, music, and smooth transitions to make a professional documentary worthy of airing on ABC. The documentary is currently slated for release in late September.</p>
				</div>
			</div>		
		</div>
			
	
</html>