<!DOCTYPE HTML>

 <html>
	<head>
		<title>Adam Frankenfeld</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" media="all and (max-width: 1680px)" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/custom.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	</head> 

	<body>	
        <div class="page-header">
        	<h1 style="text-align:center">Beneath the Skin <br/>
        		<small style="text-align:center">Production Assistant/Audio Editor</small>
        	</h1>
		</div>			
		
		
		<div class="video-container">
			<iframe width="560" height="349" src="https://www.youtube.com/embed/-ospYRnRdpA" frameborder="0" allowfullscreen></iframe>
		</div>
		
		<div class="container-fluid">
                
			<div>
				<p><i>Beneath the Skin</i> is an ABC syndicated documentary focused on racial trauma passed down through generations, and the healing that individuals found in faith. My responsibilities included finding bites from interviews that would enhance our production, as well as editing the documentary as a whole. The latter included adding B-roll, music, and smooth transitions to make a professional documentary worthy of airing on ABC. The documentary is currently slated for release in late September.</p>
			</div>
			
		</div>
			
	</body>
</html>