<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Adam Frankenfeld</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="assets/css/application.css.scss" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" href="assets/css/custom.css" />
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    </head> 

    <body>

        <div class="page-header">
            <h1 style="text-align:center">Letters of Recommendation</h1>
        </div>
        
        
          <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img style="padding-right: 1em;" src="http://www.trnty.edu/images/stories/meet_the_faculty/craig_mattson20110224_0046.jpg" align="left">
                    <h6><a href="http://www.trnty.edu/mtf-mtf/163-mtfcommarts/143-cmattson.html">Dr. Craig Mattson</a> - <a href="#">View Recommendation Here</a></h6>
                    <p style="text-align:justify">Dr. Mattson is Department Chair of Communications at Trinity Christian College. He is a dedicated professor who works diligently at better preparing students for life's challenges after college. Through several classes, Dr. Mattson and I have been exploring the growing video game industry. We worked together on an independent study which focused on the rhetoric of game design.</p>
                </div>    
               
            </div>
            
            <br/>
        
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img style="padding-left: 1em;" src="http://www.trnty.edu/images/stories/meet_the_faculty/mhwade.jpg" align="right">
                    <h6><a href="http://www.trnty.edu/mtf-mtf/163-mtfcommarts/141-mhwade.html">Dr. Mark Haller-Wade</a> - <a href="#">View Recommendation Here</a></h6>
                    <p style="text-align:justify">Professor Haller-Wade is the Media Professor at Trinity Christian College. He has been a great guide on my journey through learning various media applications (audio, video, web design). With his real life experience and guidance he has helped me through relevant criticism of my work, plus encourages me towards my goal of entering the game industry.</p>
                </div>    
               
            </div>
        
             <br/>
        
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img style="padding-right: 1em;" src="http://www.trnty.edu/images/stories/meet_the_faculty/jsebestyen.jpg" align="left" width="180" height="245">
                    <h6><a href="http://www.trnty.edu/mtf-mtf/163-mtfcommarts/144-jsebestyen.html">Dr. John Sebestyen</a> - <a href="#">View Recommendation Here</a></h6>
                    <p style="text-align:justify">Dr. Sebestyen is the Theatre Communications Professor at Trinity Christian College. Under his guidance Dr. Sebestyen has helped shape me as an actor and a critique of stage design overall. He has taught me how to communicate several different themes of the stage, hoping someday to have the opportunity to translate that knowledge into game design.</p>
                </div>    
               
            </div>
        
                
            

        
    </body>
    
</html>