<!DOCTYPE HTML>

 <html>
	<head>
		<title>Adam Frankenfeld</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/custom.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	</head> 


	<body>
		<div class="page-header">
			<h1 style="text-align:center">Personal Projects <br/>
				<small style="text-align:center">Producer/Writer/Video Editor</small>
			</h1>
		</div>

	</body>	
