<!DOCTYPE HTML>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">


		
        <div class="page-header">
        	<h1 style="text-align:center">African Trauma Radio <br/>
        		<small style="text-align:center">Production Assistant/Audio Editor</small>
        	</h1>
		</div>		
		
		
		<div>
			<p style="text-align:center"><iframe width="433" height="243" src="https://www.youtube.com/embed/2CCp5RBd4os" frameborder="0" allowfullscreen></iframe></p>
		</div>
		
		<div class="container-fluid">
			 <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
					<p style="text-align:center">African Trauma Radio is a program that is written in English which is then translated/acted out in local languages to each different countries. Currently, we are working on our twelfth language, and I have been deeply involved in the last four. As a Production Assistant, I cut costs by 20% and increased our production speed. As an editor, I work on managing audio levels, cutting the entire radio program together, and adding sound effects where needed. On the left is a video interview with George, a director at one of the radio stations, and he shares his thoughts on the importance of Trauma Healing Radio.</p>
				</div>
			</div>		
		</div>
			
	
</html>
	
	