/* Carousel Bootstrap Add-on */		
 
      .img-responsive,
      .thumbnail > img,
      .thumbnail a > img,
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
        display: block;
        width: 100%;
        max-height: 250px;
        height: auto;
        margin: 0 auto
      }

      /* ------------------- Carousel Styling ------------------- */

      .carousel-inner {
        border-radius: 15px;
      }

      .carousel-caption {
        background-color: rgba(0,0,0,.5);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        padding: 0 0 10px 25px;
        color: #fff;
        text-align: left;
      }

 	
 	.carousel-indicators {
            position: absolute;
            bottom: -25px;
            left: 50%;
            z-index: 15;
            width: 60%;
            margin-left: -30%;
            padding-left: 0;
            list-style: none;
            text-align: center;
 	}

      .carousel-control.left,
      .carousel-control.right {
            background-image: none;
      }